---
const res = await fetch("https://dogapi.dog/api/v2/breeds");
const data = await res.json();

console.log(data);
---

<div class="grid gap-8 sn:grid-cols-2 lg:grid-cols-3">
    <table
        class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
    >
        <thead
            class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark"
        >
            <tr>
                <th scope="col" class="px-6 py-3">Nombre</th>
                <th scope="col" class="px-6 py-3">Descripcion</th>
                <th scope="col" class="px-6 py-3">Hipoalargenico</th>
            </tr>
        </thead>
        <tbody>
            {
                data.data.map((breed: any) => (
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <td class="px-6 py-4">
                            {breed.attributes.name || "N/A"}
                        </td>
                        <td class="px-6 py-4">
                            {breed.attributes.description || "N/A"}
                        </td>
                        <td class="px-6 py-4">
                            {breed.attributes.hypoallergenic.toString() ||
                                "N/A"}
                        </td>
                    </tr>
                ))
            }
        </tbody>
    </table>
</div>

<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
    }
    th,
    td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #f4f4f4;
    }
</style>
